@using MovieApp.MVC.ViewModels.GenreVMs
@model GenreGetVM


<div class="text-center">
    <h1 style="color:red">@ViewBag?.Err</h1>
    <h1>@Model?.Name - @Model?.CreatedAt - @Model?.ModifiedAt</h1>    
</div>